<div class="nested-fields card mb-3">
  <div class="card-body">
    <div class="form-group mb-3">
      <%= f.label :position_display, "Vị trí" %>
      <%= f.number_field :position_display, class: 'form-control' %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :content, "Nội dung" %>
      <%= f.text_area :content, rows: 5, class: 'form-control' %>
    </div>
    <% if f.object.persisted? %>
      <div class="form-group">
        <%= f.check_box :_destroy %>
        <%= f.label :_destroy, "Xóa mô tả này" %>
      </div>
    <% else %>
      <div class="form-group">
        <%= link_to_remove_association "Xóa", f, class: 'btn btn-danger btn-sm' %>
      </div>
    <% end %>
  </div>
</div> 